/* Add font-family */
@font-face{
    font-family: font;
    src: url(fonts/Furore/Furore.otf);
}

body {
    font-size: 10px;
    text-align: center;
    font-family: font;
    background: #ffffff url("image.png");
    color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 7em;
    margin-bottom: -2px;
}

/* the scoreboard */
#scoreboard {
    margin-top: 2px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
}

/* to be shown inline */
.score {
    position: relative;
    display: inline-block;
}

/*  the names */
.scoreText{
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
    color: white;
    margin-left:20px;
}

/* the score's boxes */
.playerX, .playerO, .tie {
   
    border: 5px solid white;
    border-radius: 5px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: grey;  
    margin-left:20px;
    font-weight: bold;
} 

/* gameboard */
#gameboard { 
    display: flex;
    justify-content: center;
     
}

/* the rows */
.row {
    display: flex;
    justify-content: center;
}

/* each cell */
.cell {
    border: 5px solid white;
    border-radius: 5px;
    margin: 4px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    text-align: center;
    font-size: 500%;
    color: white;
}

/* the twi buttons  */
#newGame, #resetScore {
    width: 150px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 150%;
    color: grey;
    display: inline-block;
    font-family: font;
}

/* the turns */
#textArea{
    width: 300px;
    height: 50px;
    border: 5px solid white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 150%;
    text-align: center;
    font-size: 150%;
    color: white;
    font-family: font;
    background: #ffffff url('image.png'); }

 #newGame:hover , #resetScore:hover {
    background-color: grey;
    color: white;
}

/* the added text to the modal */
p{
    color:black;
}

/* modal box */
.modal-box {
    position: fixed;
    background-color: #fff;
    top: 40%;
    width: 500px;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 40px #e3e1e1;
    display: none;
    color: black;
    margin: 0 auto;
}


